
$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;
$white: #eee;

$lightgreen: #1abc9c;
$darkblue: #474e5d;
$blackgray: #2f2f2f;

// scaling... any units
$width: 100px;


// PAGES
@import "pages/loading";
@import "pages/login";

// COMPONENTS
@import "components/table";
@import "components/chat-message";

// ADDONS
$ember-power-select-line-height: 2;
$ember-power-select-border-color: #ccc;
$ember-power-select-trigger-icon-color: #999;
$ember-power-select-focus-outline: 0;
$ember-power-select-opened-border-radius: 4px;
$ember-power-select-dropdown-margin: 3px;
$ember-power-select-dropdown-box-shadow: rgba(black, 0.172549) 0px 6px 12px 0px;
$ember-power-select-highlighted-color: inherit;
$ember-power-select-highlighted-background: #f5f5f5;
$ember-power-select-selected-background: #f5f5f5;
$ember-power-select-focus-border-color: #66afe9;
$ember-power-select-focus-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
$ember-power-select-trigger-contiguous-border: 1px solid $ember-power-select-border-color !default;

@import 'ember-power-select';

.ember-power-select-trigger{
  height: 38px;
  padding: 4px 16px 0 8px;
}




body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}

.main{
  margin-top: 70px;
}

.chat-message{
  color: $blackgray;
}

p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 {
  background-color: $lightgreen; /* Green */
  color: $white;
}
.bg-2 {
  background-color: $darkblue; /* Dark Blue */
  color: $white;
}
.bg-3 {
  background-color: $white; /* White */
  color: #555555;
}
.bg-4 {
  background-color: $blackgray; /* Black Gray */
  color: $white;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav  li a:hover {
  color: #1abc9c !important;
}