<div class="row">
    <h2>{{model.name}}</h2>
</div>

<div class="row">
   {{outlet}}

    <form {{action 'saveMessage' model on='submit' }}>
        <div class="form-group">
            <label for="message">Message</label>
            {{input id='message' placeholder='Enter your Message' class='form-control' value=text}}
        </div>
        <button class="btn btn-primary" type="submit">Send</button>
    </form>





</div>

